.navbar {
  background-color: #ffe600;
  * {
    border: none;
  }
  .container {
    justify-content: flex-start;
  }
  .btn-light {
    background-color: #eeeeee;
  }
  .form-control {
    font-size: 18px;
    color: #999999;
  }
}
