.navbar{
    background-color: #FFE600;
    *{
        border: none;
    }
    .container{
        justify-content: flex-start;
    }
    .btn-light{
        background-color: #EEEEEE;
    }
    .form-control{
        font-size: 18px;
        color: #999999;
    }
  }