.item {
    color:#333333;
    &.image{
        margin: 16px;
        border-radius: 4px;
        object-fit: contain;
    }
    &.price{
        font-size: 24px;
        padding: 32px 0;
    }
    &.title{
        font-size: 18px;
    }
    &.state{
        font-size: 12px;
        padding-top: 40px;
        color:#666666;
    }
}

.row > *{
    padding: 0;
    background-color: #FFFFFF;
}