@import '~bootstrap/scss/bootstrap';

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #eeeeee;
}

hr {
  margin: 0;
}

.row > * {
  padding: 0;
  background-color: #ffffff;
}
